<!DOCTYPE html>
<html>
  <head>
    <title>My Favorite Recipes</title>
  </head>
  <body>
    <h1>My Favorite Recipes</h1>
    <% if @favorites.empty? %>
      <p>You haven't added any favorite recipes yet.</p>
    <% else %>
      <ul>
        <% @favorites.each do |recipe| %>
          <li><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></li>
        <% end %>
      </ul>
    <% end %>
  </body>
</html>
