<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
<% @title = "Home" %>

<% content_for :head do %>
  <meta name="description" content="Find delicious recipes based on ingredients or keywords.">
<% end %>

<h1>Find Your Next Meal</h1>

<form action="/search" method="get">
  <div class="form-group">
    <label for="query">Search Recipes</label>
    <input type="text" id="query" name="query" placeholder="Search for recipes...">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="card">
        <h3><%= link_to recipe.title, "/recipes/#{recipe.id}" %></h3>
        <p><%= recipe.description %></p>
        <p><strong>Prep Time:</strong> <%= recipe.prep_time %> minutes</p>
        <p><strong>Cook Time:</strong> <%= recipe.cook_time %> minutes</p>
      </div>
    </div>
  <% end %>
</div>


 </body>
</html>
